<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      function clicked(button) {
        button.disabled = true;
        var div = button.parentElement;
        div.style.color='gray';
        var id = div.getAttribute('data-part-request-id');
        console.log(id);

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
          if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              console.log(xhr.responseText);
            }
        };

        xhr.open('GET', '/updateRecord?id=' + id, true);
        xhr.send();
      }
      var url = window.location.href.split("/");
      var socket =  io.connect(url[0] + "//" + url[2]);
      socket.on('record-processed', function (data) {
        var results = JSON.parse(data);
        console.log(results);
        $('<div data-part-request-id="' + results['payload']['Part_Request_ID__c'] + '" style="min-height: 25px; overflow: hidden; ">Part Needed: '+results['payload']['Repair_Part_Name__c']+' <button style="float: right" onclick="clicked(this)">Fulfill</button></div>').prependTo('#messages');
      });
    </script>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Please order the parts below and click on "Fulfil" onces they're available!</p>
    <div id="messages" style="width: 400px"></div>
  </body>
</html>
